@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  font-family: 'Bebas Neue', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure items are aligned vertically */
  padding: 1rem 0; /* Optional padding */
}

.navbar-links {
  display: flex;
  gap: 1.5rem; /* Space between the links */
}

.navbar-logo {
  display: flex;
  align-items: center;
}
